<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit book name</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

    </style>
</head>
<body>
<h2>Редактирование названия книги</h2>
<br>

<table class="books">

    <thead>
    <tr>
        <th>ID Book</th>
        <th>Название книги</th>
    </tr>
    </thead>

    <tbody>
    <tr>

        <form id="editform" action="/update" method="post">

            <td>
                <input id="bookId" class="form-control" readonly="readonly" type="text" name="bookId"
                       th:value="${book.bookId}" required placeholder="id book">
            </td>

            <td>
                <input id="bookName" class="form-control" type="text" name="bookName" th:value="${book.bookName}"
                       required placeholder="Название книги">
            </td>

            <td>
                <button type="submit">Сохранить</button>
            </td>

        </form>
    </tr>
    </tbody>
</table>

</body>
</html>
